.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  background-color: rgb(163, 128, 229);
  border: 0.5px solid rgb(60, 0, 139);
  font-size: 35px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(42, 17, 90);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 2px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.square.available:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.square:not(.available) {
  cursor: not-allowed;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
}
